.date {
  background: crimson;
  padding: 1rem;
  color: white;
  font-weight: 700;
  width: 80%;
  margin: auto;
  text-align: center;
}


.country {
  margin: 1rem;
  text-align: center;
}

.country:hover {
  transform: scale(1.2);
  cursor: pointer;
  background-color: crimson;
}



.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 1.5rem;
}

.info {
  background-color: blanchedalmond;
  width: 20%;
  padding: 3rem;
}

.allcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.back {
  font-size: 3rem;
  cursor: pointer;
}